html {
	overflow-y: scroll;
}
body {
	color: #333;
	font-family: Helvetica, Verdana, Tahoma,  sans-serif;
	padding: 0px 0px 100px 0px;
	border-top: 3px solid #e00;
	margin: 0px;
	text-align: center;
}
#wrapper {
	background: #fff;
	font-size: 16px;
	line-height: 24px;
	margin: 0px auto 10px auto;
	min-height: 100%;
	padding: 0px 20px 10px 20px;
	text-align: left;
	width: 750px;
}
h1 {
	font-size: 18pt;
	margin: 0px;
	padding: 15px 0px 5px 0px;
}
h2 {
	font-size: 14pt;
}
h3 {
	font-size: 12pt;
	margin: 0px;
}
pre {
	background: #efefef;
	overflow: auto;
	font-size: 14px;
	padding: 10px;
}
a {
	color: #000;
}

.top_image {
	margin-top: 15px;
}

#blog_index {
	list-style-type: none;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	
}

#blog_index li {
	border-bottom: 1px solid #555;
	margin: 0px;
}
#blog_index li:last-child {
	border-bottom: 0px solid #fff;
}

#blog_index li a {
	text-decoration: none;
	display: block;
	padding: 8px 0px;
}

#blog_index a:hover {
	color: #e00;
}

#blog_index .date {
	float: right;
}

/* Blog Banner */

#blog_banner {
	background: #222;
	color: #ddd;
	letter-spacing: 1px;
	text-align: center;
}

#blog_banner a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

#blog_banner .red {
	color: #e00;
	margin-left: 1px;
}

#blog_banner .wrapper {
	width: 750px;
	margin: 0px auto;
	padding: 10px 0px;
	text-align: left;
}

#blog_banner .right {
	float: right;
}

#blog_banner .icons {
	display: inline-block;
	border-left: 5px solid #222;
	height: 16px;
	width: 16px;
}

#blog_banner .twitter {
	background: url('../img/social_icons.png') -68px 0px no-repeat;
}

#blog_banner .github {
	background: url('../img/social_icons.png') -17px 0px no-repeat;
}

#blog_banner .rss {
	background: url('../img/social_icons.png') -136px 0px no-repeat;
}

#blog_banner .google {
	background: url('../img/social_icons.png') -34px 0px no-repeat;
}

#blog_banner .email {
	background: url('../img/social_icons.png') 0px 0px no-repeat;
}

#blog_banner .linkedin {
	background: url('../img/social_icons.png') -51px 0px no-repeat;
}

