body {
	margin: 0px;
	padding: 0px;
	font-family: verdana, arial;
	font-size: 9pt;
	background: #eee;
	text-align: center;
}
#wrapper {
	text-align: left;
	width: 700px;
	border: 1px solid #cdcdcd;
	margin: 25px auto;
	background: #fff;
}
#navigation2 {
	background: #cdcdcd url('/static/images/navigation_bg.jpg') top left repeat-x;
	list-style: none;
	margin: 0px;
	padding: 0px 0px;
	border-bottom: 1px solid #cdcdcd;
}
	#navigation2 .right {
		float: right;
		padding: 4px 10px 0px 0px;
		font-weight: bold;
		cursor: default;
	}
		#navigation2 .right span {
			color: #0066ff;
		}
	#navigation2 li {
		display: inline;
		padding: 0px;
	}
	#navigation2 li a {
		display: inline-block;
		list-style-type: none;
		text-decoration: none;
		border-right: 1px solid #cdcdcd;
		color: #000;
		padding: 4px 10px;
	}
		#navigation2 li a:hover {
			color: #0066ff;
			background: url('/static/images/navigation_bg.jpg') 0px -30px repeat-x;
		}

#navigation {
	background: #cdcdcd url('/static/images/navigation_bg.jpg') top left repeat-x;
	padding: 4px 0px;
	border-bottom: 1px solid #cdcdcd;
	cursor: default;
	
	display: none;
}
	#navigation a {
		color: #000;
		text-decoration: none;
		padding: 4px 10px;
		border-right: 1px solid #cdcdcd;
	}
	#navigation a:hover {
		color: #0066ff;
		background: url('/static/images/navigation_bg.jpg') 0px -30px repeat-x;
	}
	#navigation span {
		float: right;
		padding-right: 10px;
		font-weight: bold;
	}
		#navigation span b {
			color: #0066ff;
		}
#content {
	padding: 0px 10px;
	line-height: 14pt;
}
	h1, h2 {
		margin: 10px 0px 5px 0px;
		text-decoration: none;
		color: #000;
		padding: 0px;
		font-family: "Molengo", arial, helvetica, sans-serif;
	}
		h1 a, h2 a {
			text-decoration: none;
			color: #000;
		}
	p {
		margin: 15px 0px;
		padding: 0px;
	}
	ul.no_bullets {
		list-style-type: square;
	}
		ul.no_bullets li {
			padding: 3px;
		}
	#content a {
		color: #000;
	}
	#content a:hover {
		color: #0066ff;
	}
	#content .alert {
		background: #CFE3FF;
		border: 2px solid #0066ff;
		padding: 4px;
		margin-bottom: 10px;
	}
	#interests {
		border-spacing: 0px;
		width: 100%;
		margin: 10px 0px;
	}
		#interests th {
			text-align: center;
			font-size: 10pt;
		}
		#interests td {
			width: 33%;
			vertical-align: top;
			text-align: center;
		}
			#interests td a {
				color: #000;
				text-decoration: none;
				display: block;
				padding: 3px;
			}
			#interests td a:hover {
				color: #0066ff;
				text-decoration: underline;
			}
	.resume {
		padding: 5px 5px 5px 23px;
		display: block;
		margin-left: 10px;
		color: #000;
	}
		.pdf_doc {
			background: url('/static/images/file_pdf.png') center left no-repeat;
		}
		.html_doc {
			background: url('/static/images/file_html.png') center left no-repeat;
		}
	.form_table {
		width: 100%;
		margin-top: 10px;
		border-spacing: 0px;
	}
		.form_table tr td {
			padding: 5px;
		}
		.form_table tr td:first-child {
			width: 250px;
			text-align: right;
		}
	.entry_details {
		color: #777;
		padding-bottom: 10px;
	}
.btn_tray {
	float: right;
}