@import 'http://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900';
/* line 8, ../sass/styles.scss */
html {
  height: 100%;
}

/* line 12, ../sass/styles.scss */
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  font-size: 18px;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  background: #222;
}
@media (min-width: 0px) {
  /* line 12, ../sass/styles.scss */
  body {
    font-size: 14px;
  }
}
@media (min-width: 991px) {
  /* line 12, ../sass/styles.scss */
  body {
    font-size: 18px;
  }
}

/* line 30, ../sass/styles.scss */
h1 {
  font-weight: 700;
  font-size: 2.25em;
  margin: .5em 0;
}

/* line 36, ../sass/styles.scss */
p {
  font-size: 1em;
  line-height: 1.9em;
  margin: 1em 0;
}

/* line 42, ../sass/styles.scss */
[class^=panel] {
  position: relative;
  z-index: 1;
}

/* line 48, ../sass/styles.scss */
.panel-land {
  z-index: 10;
  color: #fff;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  background: #151515 url("../images/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 64, ../sass/styles.scss */
.panel-land a, .panel-land a:focus, .panel-land a:hover {
  color: #fff;
}
/* line 68, ../sass/styles.scss */
.panel-land .v-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 73, ../sass/styles.scss */
.panel-land .v-center .h-center {
  margin-right: auto;
  margin-left: auto;
  width: 400px;
}
@media (max-width: 420px) {
  /* line 73, ../sass/styles.scss */
  .panel-land .v-center .h-center {
    width: 100%;
    padding: 5px 15px;
  }
}
/* line 83, ../sass/styles.scss */
.panel-land .v-center .h-center .splash-container {
  height: 130px;
  padding: 0px;
  text-align: left;
}
/* line 88, ../sass/styles.scss */
.panel-land .v-center .h-center .splash-container .bg-lines {
  float: left;
  position: absolute;
  width: 600px;
  height: 3px;
  background: url("../images/bg_lines.png") center center;
  margin-left: -100px;
  margin-top: 28px;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
@media (max-width: 600px) {
  /* line 88, ../sass/styles.scss */
  .panel-land .v-center .h-center .splash-container .bg-lines {
    display: none;
  }
}
/* line 106, ../sass/styles.scss */
.panel-land .v-center .h-center .splash-container .img-name {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}
@media (max-width: 420px) {
  /* line 106, ../sass/styles.scss */
  .panel-land .v-center .h-center .splash-container .img-name {
    width: 100%;
  }
}
/* line 120, ../sass/styles.scss */
.panel-land .v-center .h-center .splash-container .img-adv {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}
@media (max-width: 420px) {
  /* line 120, ../sass/styles.scss */
  .panel-land .v-center .h-center .splash-container .img-adv {
    width: 45%;
  }
}
/* line 133, ../sass/styles.scss */
.panel-land .v-center .h-center .splash-container .img-amp {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@media (max-width: 420px) {
  /* line 133, ../sass/styles.scss */
  .panel-land .v-center .h-center .splash-container .img-amp {
    width: 10%;
  }
}
/* line 146, ../sass/styles.scss */
.panel-land .v-center .h-center .splash-container .img-entr {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}
@media (max-width: 420px) {
  /* line 146, ../sass/styles.scss */
  .panel-land .v-center .h-center .splash-container .img-entr {
    width: 45%;
  }
}

/* line 164, ../sass/styles.scss */
.panel-about {
  color: #eee;
  text-align: center;
}
/* line 168, ../sass/styles.scss */
.panel-about .about-content {
  padding-bottom: 40px;
}
/* line 171, ../sass/styles.scss */
.panel-about .about-content h3 {
  margin: 20px 0px 5px 0px;
}
/* line 175, ../sass/styles.scss */
.panel-about .about-content ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
/* line 180, ../sass/styles.scss */
.panel-about .about-content ul li {
  margin: 0px;
  padding: 0px;
}
