<!doctype html>
<html lang='en'>
	<head>
		
		<title>Shane Reustle | Globetrotting Software Developer</title>
		<meta name='description' content='Shane Reustle is a globetrotting software developer who writes about traveling and programming.'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		
		<link rel='stylesheet' href='/static/lib/bootstrap/css/bootstrap.min.css'>
		<link rel='stylesheet' href='/static/style.css'>
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' type='text/css'>
		
	</head>
	<body>
		
		<div class='container'>
			<div class='row'>
				
				<div class='sidebar_container col-lg-3 col-lg-offset-1 col-3'>
					<!-- Sidebar -->
					
					<div class='avatar_container'><a href='/' title='Shane Reustle' class='img-circle avatar' title='Home'></a></div>
					
					<p><a href='#' class='howdy_link'>Howdy</a>, I'm Shane Reustle</p>
					<p>I'm a globetrotting software developer at <a href='http://nestio.com'>Nestio</a> and <a href='https://www.statuschart.com/reustle'>event organizer</a>. I <a href='http://www.flickr.com/photos/reustle/sets/72157637598112653/'>take photos</a> and <a href='http://www.flickr.com/photos/reustle/9992309154/'>ride motorcycles</a>. Feel free to <a href='mailto:me@shanereustle.com'>shoot me an email</a> or <a href='http://twitter.com/reustle/'>follow me on twitter</a>.</p>
					
					<!-- Sidebar END -->
				</div>
				<div class='content_container col-lg-7 col-7'>
					<!-- Content -->
					
					{{#list_page}}
						<div class='article_list white_box'>
							<ul>
								{{#articles_list}}
									<li>
										<a href='{{slug}}'>
											<div class='timestamp'>{{date}}</div>
											{{title}}
										</a>
									</li>
								{{/articles_list}}
							</ul>
						</div>
					{{/list_page}}
					
					{{#articles}}
						<div class='article_row white_box'>
							<a href='/blog/' class='timestamp pull-right'>{{date}}</a>
							<h1 class='lead'><a href='/blog/{{slug}}'>{{title}}</a></h1>
							{{{content}}}
						</div>
					{{/articles}}

					<div class='footer_row'>
						{{#index_page}}
							
							{{#next_page}}
								<h4 class='pull-right'><a href='/blog/page{{next_page}}/'>Newer Articles &raquo;</a></h4>
							{{/next_page}}
							{{#prev_page}}
								<h4><a href='/blog/page{{prev_page}}/'>&laquo; Older Articles</a></h4>
							{{/prev_page}}
							
						{{/index_page}}
						
						{{^index_page}}{{^articles_list}}
							<h4><a href='/blog/'>&laquo; Blog Index</a></h4>
						{{/articles_list}}{{/index_page}}
					</div>
					
					<!-- Content END -->
				</div>
				
			</div>
		</div>
		
		<script src='/static/lib/jquery.js'></script>
		<script src='/static/lib/bootstrap/js/bootstrap.min.js'></script>
		<script src='/static/js/app.js'></script>
		<script type='text/javascript'>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-2580539-25', 'reustle.io');
			ga('send', 'pageview');
		</script>
		
	</body>
</html>

