html {
	overflow-y: scroll;
	height: 100%;
}
body {
	font-family: arial, helvetica, sans-serif;
	background: #f4f4f4;
	color: #333;
	height: 100%;
	text-align: center;
}
pre {
	padding: 10px;
	font-size: 10pt;
	background: #efefef;
	overflow: auto;
}
#wrapper {
	margin: -10px auto;
	background: #fff;
	padding: 0px 20px;
	text-align: left;
	width: 700px;
	min-height: 100%;
	font-size: 0.8125em;
	line-height: 1.3077em;
	
	-webkit-box-shadow: 0px 0px 10px 5px #ddd;
	-moz-box-shadow: 0px 0px 10px 5px #ddd;
	box-shadow: 0px 0px 10px 5px #ddd;
}
h1 {
	font-size: 16pt;
	margin: 0px;
	padding: 15px 0px 5px 0px;
}
a {
	color: #000;
}

