%rebase templates/layout meta_title=meta_title
				<h1>Who Am I?</h1>
				<p>I'm Shane, a web developer in the greater Philadelphia area who takes pride in writing gorgeous code. I love working with awesome people on new and exciting projects. My passion for web development shows in my work and will hopefully land me a job in San Francisco or New York as a developer. I spend my free time riding motorcycles, reading books and attending geeky barcamps, meetups and conferences. I am very passionate about learning new things, as well as teaching the things I've learned to others. If you're interested in learning more about me, <a href="/contact/">give me a call</a>. I love meeting new people!</p>
				<h1>Interests</h1>
				<table id="interests">
					<tr><th>Languages</th><th>Frameworks</th><th>Other</th></tr>
					<tr>
						<td>
							<a href="http://www.python.org/" target="_blank">Python</a>
							<a href="http://www.php.net/" target="_blank">PHP</a>
							<a href="https://developer.mozilla.org/En/javascript" target="_blank">JavaScript</a>
							<a href="http://www.cplusplus.com/" target="_blank">C++</a>
						</td>
						<td>
							<a href="http://bottle.paws.de/" target="_blank">Bottle</a>
							<a href="http://www.djangoproject.com/" target="_blank">Django</a>
							<a href="http://www.codeigniter.com/" target="_blank">CodeIgniter</a>
							<a href="http://www.jquery.com/" target="_blank">jQuery</a>
						</td>
						<td>
							<a href="http://www.mongodb.org/" target="_blank">MongoDB</a>
							<a href="http://www.mysql.com/" target="_blank">MySQL</a>
							<a href="http://www.ubuntu.com/" target="_blank">Ubuntu</a>
							<a href="http://dev.w3.org/html5/spec/Overview.html" target="_blank">HTML5 / CSS3</a>
						</td>
					</tr>
				</table>
				<h1>Download Resume</h1>
				<p>
					<a href="/static/resume.pdf" class="resume pdf_doc" title="Resume of Shane Reustle (pdf)">Download as PDF</a>
					<a href="/static/resume.html" class="resume html_doc" target="_blank" title="Resume of Shane Reustle (html)">Download as HTML</a>
				</p>