%rebase templates/layout meta_title=meta_title
				<h1>Get In Touch</h1>
				<p>
					<b>Email</b>: <a href="mailto:sreustle@gmail.com">sreustle@gmail.com</a><br/>
					<b>Phone</b>: 610 621 7947<br/><br/>
					
					<b>Twitter</b>: <a href="http://twitter.com/reustle" target="_blank">twitter.com/reustle</a><br/>
					<b>Github</b>: <a href="http://github.com/reustle" target="_blank">github.com/reustle</a><br/>
					<b>Rdio</b>: <a href="http://www.rdio.com/#/people/reustle/" target="_blank">rdio.com/#/people/reustle/</a><!-- \m/ -->
				</p>