<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Shane Reustle | Professional Geek</title>
		<meta charset='utf-8'/>
		<meta name='description' content='Shane Reustle is a software engineer in New York City.'/>
		<meta name='keywords' content='shane reustle, shanereustle, sreustle, srreustle, reustle'/>
		<link rel='stylesheet' href='/static/style.css'/>
	</head>
	<body>
		<div id='wrapper'>
			<h1 id='header'>Shane<span>.</span>Reustle<span>()</span></h1>
			<p id='details'>
				I'm a <a href='http://visualrevenue.com/aboutus/the-team' target='_blank'>software engineer</a> in New York City.
				I develop web applications using<br/><a href='http://developer.mozilla.org/en/JavaScript/' target='_blank'>Javascript</a>, <a href='http://python.org/' target='_blank'>Python</a> and <a href='http://mongodb.org/' target='_blank'>MongoDB</a>.
				I work with tools like <a href='http://nodejs.org/' target='_blank'>NodeJS</a>, <a href='http://bottle.paws.de/' target='_blank'>Bottle</a> and<br/><a href='http://ubuntu.com/' target='_blank'>Ubuntu</a>.
				I'm a minimalist and a stickler for clean code.
				I organize <a href='http://barcampnyc.org' target='_blank'>barcamps</a>,<br/><a href='http://www.meetup.com/members/10521614/groups/' target='_blank'>meetups</a> and <a href='http://lanyrd.com/people/Reustle/' target='_blank'>tech conferences</a>.
				I ride a <a href='http://www.flickr.com/photos/reustle/5822448945/in/photostream/lightbox/' target='_blank'>Yamaha WR250x</a>.
				I love what I do.
			</p>
			<ul id='links'>
				<li><a href='/blog/'>Blog</a></li>
				<li><a href='http://twitter.com/reustle/' target='_blank'>Twitter</a></li>
				<li><a href='http://www.linkedin.com/in/reustle/' target='_blank'>LinkedIn</a></li>
				<li><a href='http://github.com/reustle/' target='_blank'>GitHub</a></li>
				<li><a href='http://forrst.me/reustle/' target='_blank'>Forrst</a></li>
				<li><a href='mailto:sreustle@gmail.com'>Email</a></li>
			</ul>
		</div>
		<script type='text/javascript'>
			var _gaq = [['_setAccount', 'UA-2580539-1'], ['_trackPageview']];
			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>

