<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>Shane Reustle | Professional Geek</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name="description" content="Shane Reustle is a software engineer in New York City." />
		<meta name="keywords" content="shane reustle, shanereustle, sreustle, reustle" />
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<h1 id="header">Shane<span>.</span>Reustle<span>()</span></h1>
			<p id="details">
				I'm a software engineer in New York City. I develop web applications using<br/>
				<a href="http://developer.mozilla.org/en/JavaScript/" target="_blank">Javascript</a>, <a href="http://python.org/" target="_blank">Python</a> and <a href="http://mongodb.org/" target="_blank">MongoDB</a>. I work with tools like <a href="http://ubuntu.com/" target="_blank">Ubuntu</a>, <a href="http://bottle.paws.de/" target="_blank">BottlePY</a> and<br/>
				<a href="documentcloud.github.com/backbone/">BackboneJS</a>. I'm a minimalist and a stickler for clean code. I attend <a href="http://barcamp.org/w/page/11948285/BarCampNYC5" target="_blank">barcamps</a>,<br/>
				<a href="http://www.meetup.com/javascript-7/members/10521614/groups/" target="_blank">meetups</a> and <a href="http://lanyrd.com/people/Reustle/" target="_blank">tech conferences</a>. I ride a <a href="http://www.flickr.com/photos/reustle/5023411574/lightbox/" target="_blank">Yamaha WR250x</a>. I love what I do.
			</p>
			<ul id="links">
				<li><a href="http://github.com/reustle/" target="_blank">GitHub</a></li><li><a href="http://forrst.com/people/reustle/" target="_blank">Forrst</a></li><li><a href="http://twitter.com/reustle/" target="_blank">Twitter</a></li><li><a href="http://reustle.tumblr.com/" target="_blank">Tumblr</a></li><li><a href="http://facebook.com/shanereustle/" target="_blank">Facebook</a></li><li><a id="email_btn" href="mailto:sreustle@gmail.com">Email</a></li>
			</ul>
			<form action="/" method="post" id="email_form">
				<p>Feel free to email me directly at <a href="mailto:sreustle@gmail.com">sreustle@gmail.com</a></p>
				<input type="text" id="form_name" value="Name - THIS FORM DOES NOT SEND YET"/>
				<input type="text" id="form_email" value="Email"/>
				<input type="text" id="form_phone" value="Phone"/>
				<textarea id="form_message">Message</textarea>
				<input type="button" id="cancel_btn" value="Cancel"/>
				<input type="button" id="send_email" value="Send Message"/>
				<p style="color:red">I'm still building this form. It doesn't work.</p>
			</form>
		</div>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="/static/base.js"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-2580539-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>

