<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>Shane Reustle - {{meta_title}}</title>
		<meta name="Description" content="Shane Reustle is a freelance web developer in the Greater Philadelphia area. This website displays his resume, projects and contact information." />
		<meta name="Keywords" content="berks website development, berks computer repair, pa website developer, boyertown websites" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/highlightjs.css" type="text/css" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Molengo" type="text/css" />
	</head>
	<body>
		<div id="wrapper">
			<ul id="navigation"><li class="right">Shane<span>Reustle</span></li><li><a href="/">About Me</a></li><li><a href="/projects/">Projects</a></li><li><a href="/clients/">Clients</a></li><li><a href="/contact/">Contact</a></li><li><a href="/blog/">Blog</a></li></ul>
			<div id="content">
				%include

			</div>
		</div>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-2580539-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
			
		</script>
	</body>
</html>