<h1>Controlling the AR.Drone with Python</h1>
<p>This past weekend I helped out with <a href='http://gamehackday.org'>GameHackDay</a> and spent most of my time hacking on one of the 12 <a href='http://ardrone.parrot.com'>ARDrone Parrots</a>. After spending some time fighting with the open <a href='https://projects.ardrone.org/'>ARDrone API</a> which was written in C, I was glad to discover a <a href='https://github.com/venthur/python-ardrone'>Python ARDrone API</a>.</p>
<p>The Python API is fairly easy to get up and running and its only dependency is <a href='http://pygame.org/'>PyGame</a>, but only if you plan to run the included demo. Running the commands below should get you set up and ready to control the drone (assuming you're on Ubuntu). If you already have git installed, feel free to ignore that.</p>
<pre>sudo apt-get install python-pygame git
git clone https://github.com/venthur/python-ardrone.git</pre>
<p>Once those are installed, turn on the drone and connect to its network. Once connected, run <em>"demo.py"</em> and take it for a spin! If you open up <em>"demo.py"</em>, you'll see that the commands are fairly straight forward. One you've become familiar with the drones commands, let's make the drone fly by itself. To start, create a new file and copy this in.</p>
<pre>import libardrone
from time import sleep

drone = libardrone.ARDrone()

drone.takeoff()
sleep(3)
drone.move_forward()
sleep(2)
drone.land()
sleep(3)
drone.halt()</pre>
<p>This code is pretty self explanatory. Connect to the drone, takeoff, move forward, land and disconnect. You can start to imagine all of the different things you can do with this.</p>
<p>One thing we discovered at the event was that the latest firmware update seems to help with the stability. You can download that <a href='http://www.parrot.com/catalog/downloads/ar-drone/'>AR.Drone Firmware Update</a> here. Installation of the update is easy. While connected to the drones network, connect via FTP into 192.168.1.1 over port 5551. After a few minutes, the connection will succeed and you'll see an empty directory. Drop the downloaded <em>"ardrone_update.plf"</em> file there and disconnect. Disconnect from the wifi as well, then reboot the drone by unplugging the battery and reconnecting it. Don't press any buttons, and allow the drone to install the update. After some time, you'll see all of the green lights come back on which means you're done!.</p>
<p>The next step in controlling the drone is to read in the sensor data. The drone provides altitude, gyros, trim, and so on. There are also two on-board cameras you can monitor using an image library. Look into the navdata objects for more details. I plan on covering navdata in a future blog entry.</p>
<p>I have not decided if I want to continue controlling the drone using Python or move over to NodeJS. I feel the event loop in JavaScript is better fitted to this kind of scripting. I found a rudimentary <a href='https://github.com/timjb/node-ardrone'>NodeJS ARDrone API</a> here, which should get me started. For now, I will continue to learn more about it using Python.</p>
<p><em>Side Note</em>: If you're in the NYC area, join the <a href='http://www.meetup.com/ardrone/'>ARDrone Meetup Group</a>.</p>
<div class='details'>Written by <a href='/'>Shane Reustle</a> on 26 June 2011 - <a href='/blog/'>Blog Index</a></div>

