<h1>Controlling the AR.Drone with Python</h1>
<p>This past weekend I helped out with <a href='http://gamehackday.org'>GameHackDay</a> and spent most of my time hacking on one of the 12 <a href='http://ardrone.parrot.com'>AR.Drone Parrots</a> we had. After spending some time fighting with the open <a href='https://projects.ardrone.org/'>ARDrone API</a> which was written in C, I was happy to find a <a href='https://github.com/venthur/python-ardrone'>Python ARDrone API</a>.</p>
<p>It's fairly easy to get started messing with. The only prerequisite is <a href='http://pygame.org/'>PyGame</a>, but only for the demo. Running the commands below should get you set up and ready to control the drone (Assuming you're on Ubuntu). If you already have git installed, feel free to ignore that.</p>
<pre>sudo apt-get install python-pygame git
git clone https://github.com/venthur/python-ardrone.git</pre>
<p>Once those are installed, turn on the drone and connect to its network. Once connected, run <em>demo.py</em> and take it for a spin! If you open up <em>demo.py</em> you'll see that the commands are fairly straight forward.</p>
<p>Now, let's let the drone by itself. Create a new file and copy this in.</p>
<pre>import libardrone
from time import sleep

drone = libardrone.ARDrone()

drone.takeoff()
sleep(3)
drone.move_forward()
sleep(2)
drone.land()
sleep(3)
drone.halt()</pre>
<p>It is pretty self explanitory what this does. Connect to the drone, takeoff, move forward, land and disconnect.</p>
<p>One thing we discovered at the event was that the latest firmware update seems to help with the stability. You can download that <a href='http://www.parrot.com/catalog/downloads/ar-drone/'>AR.Drone Firmware Update</a> here. Installation of the update is easy. While connected to the drones network, FTP into 192.168.1.1 over the port 5551. After a few minutes, the connection will succeed and you'll see an empty directory. Drop the downloaded <em>"ardrone_update.plf"</em> file there and disconnect. Disconnect from the wifi as well, then reboot the drone by unplugging the battery and reconnecting it. Don't press any buttons, and allow the drone to install the update. After some time, you'll see all the green lights come back and you're done!.</p>
<p>I have not decided if I wan't to continue using Python, or move over to NodeJS for controlling the drone. I found a <a href='https://github.com/drones/node-ardrone-unofficial'>NodeJS ARDrone API</a> here. The problem is, it's written in CoffeeScript so if I do decdide to use it, I'll rewrite it in real JavaScript.</p>

